:root {
    --main-bg-color: rgb(139, 161, 247);
    --options-color: rgb(26, 3, 3);
    --grid-bg-color: #fff;
    --grid-border-color: #000;

    --font-color: #fff;
    --heading-font: 'Oleo Script Swash Caps', cursive;
    --body-font: 'Titillium Web', sans-serif;

    --btn-bg: rgb(139, 161, 247);

    --grid-rows: 1;
    --grid-cols: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--font-color);
}

.full-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
/*======HEADING COLOR========*/
.first-word {
    color: rgb(73, 20, 1);
}
.second-word {
    color: rgb(2, 32, 62);
}
.third-word {
    color: rgb(1, 29, 1);
}
/*======HEADING COLOR========*/


main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--body-font);
}

.container {
    background-color: var(--options-color);
    display: flex;
    padding: 30px;
    border-radius: 20px;
    width: 850px;
}


.options-container div {
    margin-bottom: 7px;
}

.modes-container {
    display: flex;
    flex-direction: column;
}

.tools-container {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: var(--btn-bg);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;
    margin: 5px;
}

.btn:hover {
    border: none;
    outline: none;
    background-color: rgb(251, 252, 255);
}

.btn:active {
    transform: scale(.98);
    border: none;
    outline: none;
}

.btn:focus {
    border: 4px solid black;
    background-color: rgb(251, 252, 255);
}

input[type="color"] {
    border: 2px solid var(--main-bg-color);
    cursor: pointer;
    height: 30px;
    width: 130px;
}

.grid-container {
    display: grid;
    width: 500px;
    min-width: 500px;
    height: 500px;
    align-self: center;
    background-color: var(--grid-bg-color);
}

.options-container {
    width: 500px;
}

.cell {
    border: 1px solid var(--grid-border-color);
}


footer {
    background-color: #222;
    color: white;
    width: 100vw;
    height: 30px;
    padding: 10px;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: rgb(20, 136, 238);
}

footer span {
    margin-right: 5px;
}


@media only screen and (max-width: 1360px) {
    .full-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading h1 {
        display: flex;
    }
}

@media only screen and (max-width: 900px) {
    .full-container {
        height: min-content;
        margin: 30px;
    }
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 550px;
    }
    .btn {
        width: 40vw;
    }

    input[type="color"] {
        width: 40vw;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        padding: 15px;
        display: flex;
        text-align: center;
        width: 300px;
    }

    .heading {
        font-size: 26px;
    }
    
    .options-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .options-container div {
        display: flex;
        flex-direction: column;
    }

    .grid-container {
        width: 250px;
        height: 250px;
        min-width: 100px;
    }

}

@media only screen and (max-width: 350px) {
    .container {
        padding-top: 30px;
        width: 250px;
    }

    .heading {
        font-size: 20px;
    }

    .grid-container {
        width: 200px;
        height: 200px;
    }
}
